.Usuario{
    width: 350px;
    height: 150px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.Usuario img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
.FotoUsuario {
    padding: 20px 20px 20px 20px;
}
.LayoutUsuario{
    display: inline-flex;
    align-items: center;
}

.DadosUsuario{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
