.gallery{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 }

 .Arrows{
   display: flex;
   padding-top: 20px;
 }
.galleryCaretLeft{
   padding-right: 60px;
}